<%= form_with url: sessions_path do |signin| %>
  <div class="form-row">
    <div class="col">
      <%= signin.text_field :email, placeholder: "Email", class: "form-control", required: true %>
    </div>
  </div>
  <br>
  <div class="form-row">
    <div class="col">
      <%= signin.password_field :password, placeholder: "Password", class: "form-control", required: true %>
    </div>
  </div>
  <br>
  <%= signin.submit "Sign In", class: "btn btn-primary" %>
<% end %>
