<%= form_with url: user_path(current_user), method: :patch do |f| %>
  <div class="form-row">
    <div class="col">
      <%= f.password_field :password, placeholder: "*********", class: "form-control", required: true %>
    </div>
  </div>
  <br>
  <div class="form-row">
    <div class="col">
      <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control", required: true %>
    </div>
  </div>
  <br>
  <%= f.submit "Update Password", class: "btn btn-warning" %>
<% end %>
