<div class="card mt-5" id ="friend-form">
  <div class="card-body">
    <h2 class="card-title">Edit profile</h5>
    <%= render 'edit'%>
  </div>
</div>
<div class="card mt-5" id ="friend-form">
  <div class="card-body">
    <h2 class="card-title">Update password</h5>
    <%= render 'password'%>
  </div>
</div>
