#login-page{
  padding-top: 5%;
}

#site-heading{
  text-align: center;
  padding: 10%;

  h1 {
    font-size: 50px;
  }
  
  img {
    width: inherit
  }
}

#form-card{
  right: 50px;
  #form-card-body {
    height: 450px;
  }
}
